
<div class="index-task-page">

  <ul>

    <% @tasks.each do |task| %>

    <li>
      <%= task.name %> : <%= task.description %> : <%= task.id %>
      <%= link_to "(View Details)", task_path(task.id) %>
      <%= link_to "(Edit Task)", edit_task_path(task.id) %>
    </li>

    <% end %>

  </ul>

  <%= link_to "New Task", new_task_path %>

</div>
